<div class="home-header">
  {{#if search}}
  <h1>Resultados para: {{search}}</h1>
  {{#if toughtsQty}}
    <p class="subtitle">Encontrados {{toughtsQty}} pensamento(s)</p>
  {{else}}
    <p class="subtitle">Nenhum pensamento encontrado, tente novamente!</p>
  {{/if}}
  {{else}}
  <h1>Todos os pensamentos</h1>
  <form action="/" method="get">
    <input type="text" name="search" placeholder="Buscar pensamentos..." />
    <input type="submit" class="btn" value="Buscar" />
  </form>
  {{/if}}
  <div class="order-container">
    <span>Ordernar por: </span>
    <form action="/" method="get">
      <input type="hidden" name="search" value="{{this.search}}" />
      <input type="hidden" name="order" value="new" />
      <button type="submit"><i class="bi bi-arrow-up"></i></button>

    </form>
      <form action="/" method="get">
      <input type="hidden" name="search" value="{{this.search}}" />
      <input type="hidden" name="order" value="old" />
      <button type="submit"><i class="bi bi-arrow-down"></i></button>

    </form>
    <a href="/">Limpar</a>
</div>
<div class="toughts-container">
  {{#each tought}}
    <figure>
      <blockquote>
        "{{this.title}}"
      </blockquote>
      <figcaption>por <span>{{this.User.name}}</span></figcaption>
    </figure>
  {{/each}}
</div>